@charset 'utf-8';

* {margin: 0; padding: 0;}
ul, li {list-style: none;}
a {text-decoration: none;}

#slider {
    width: 700px; height: 300px; border: 1px solid #000;
    margin: 100px auto; position: relative;
    overflow: hidden;
}

.panel {
    width: 100%; height: 100%;
    position: relative;
}

.panel > li {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    font: bold 100px/300px 'arial';
    color: #000; text-align: center;
    display: none;
}

.panel > li.on {
    display: block;
}

.panel > li:nth-of-type(1) {background-color: lightblue;}
.panel > li:nth-of-type(2) {background-color: cornflowerblue;}
.panel > li:nth-of-type(3) {background-color: blue;}
.panel > li:nth-of-type(4) {background-color: blanchedalmond;}
.panel > li:nth-of-type(5) {background-color: goldenrod;}


.navi {
    position: absolute;
    bottom: 20px;
    left: 40px;
}

.navi > li {float: left; margin-right: 20px;}
.navi > li > a {display: block; width: 20px; height: 20px; border-radius: 10px; background-color: #fff; transition: 1s;}
.navi > li > a.on {width: 60px; background-color: #000;}


.prev {
    position: absolute;
    display: block;
    width: 20px;
    height: 100px;
    background-color: #fff;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.next {
    position: absolute;
    display: block;
    width: 20px;
    height: 100px;
    background-color: #fff;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}